
.global-main{
    text-align: center;
    font-weight: bold;
}
.main-main {
    height:860px;
    width: 750px;
    background-color: rgba(248, 247, 243);
    padding-top: 15px;
    margin: 0 auto;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 0.5px solid rgba(46, 46, 45, 0.986);
    border-left: 0.5px solid rgba(46, 46, 45, 0.986);
    border-bottom: 0.5px solid rgba(46, 46, 45, 0.986);
}

.information {
    height:860px;
    width: 750px;
    background-color: rgba(248, 247, 243);
    padding-top: 15px;
    display: inline-block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.globalyear {
    text-align: center;
    margin-top: 15px;
}
.globalname {
    text-align: center;
    margin-top: 15px;
}

.globalnumber {
    text-align: center;
    margin-top: 15px;
}

.globaloperation {
    text-align: center;
    margin-top: 15px;
}

.globalsupport {
    text-align: center;
    margin-top: 15px;
}

.globalconfirmname {
    text-align: center;
    margin-top: 15px;
}

.globaldate {
    text-align: center;
    margin-top: 15px;
}

.globalsubmit {
    text-align: center;
    margin-top: 15px;
}

.name-name {
    color: rgb(49, 49, 49);
    font-size: 30px;
}

.pole-y {
    height:40px;
    width: 130px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.pole-name {
    height:40px;
    width: 700px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.pole-number {
    height:40px;
    width: 310px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.pole-o {
    height:40px;
    width: 310px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.pole-dop {
    height:40px;
    width: 700px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.pole-v {
    height:40px;
    width: 310px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.pole-date {
    height:40px;
    width: 310px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
    color:  rgb(49, 49, 49);
}

.pole-s {
    height:100px;
    width: 350px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
    color:rgba(46, 46, 45, 0.986);
    background-color: rgb(248, 247, 243);
    
}
.pole-s:hover {
    height:100px;
    width: 350px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
    background-color: rgb(22, 95, 27);
    color: rgb(248, 247, 243);
}

.pole-searth {
    height:40px;
    width: 700px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}

.pole-vacuum {
    height:40px;
    width: 310px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: 0.5px solid rgba(46, 46, 45, 0.986);
}
